.text-field {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #D9D9D9;
    -fx-background-insets: 5px;
    -fx-border-insets: 5px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
}

.button:hover {
    -fx-background-color: #C8C8C8;
}

